/.idea/

.deps/
.libs/
autom4te.cache/
m4/

ABOUT-NLS
aclocal.m4
boldquot.sed
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
en@boldquot.header
en@quot.header
insert-header.sin
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
Makevars
Makevars.template
missing
POTFILES
quot.sed
remove-potcdate.sed
remove-potcdate.sin
Rules-quot
stamp-h1
stamp-po

*.gmo
*.la
*.lo
*.o
*~
