CMakeCache.txt
CMakeFiles
CMakeOutput.log
cmake_install.cmake
cmake_uninstall.cmake
CPack*Config.cmake
libvisual-config.cmake
libvisual-config-version.cmake
Makefile

po/Makefile
po/Makefile.in
po/*.pot
po/Rules-quot
po/*.sed
po/*.sin
po/en@boldquot.header
po/en@quot.header
po/stamp-po
stamp-h1

libvisual*.pc
libvisual/lvconfig.h
